body {
    background: radial-gradient(circle, #000000, #020b02);
    color: #00ff9f;
    font-family: monospace;
}

h1 {
    color: #00ff9f;
    text-shadow: 0 0 20px #00ff9f;
}

input, select {
    background: #000;
    border: 1px solid #00ff9f;
    color: #00ff9f;
    padding: 10px;
}

button {
    border: 1px solid #00ff9f;
    color: #00ff9f;
    background: transparent;
}

button:hover {
    background: #00ff9f;
    color: black;
}

table {
    border-collapse: collapse;
    width: 90%;
}

td, th {
    border: 1px solid #00ff9f;
    padding: 8px;
}

#console {
    box-shadow: 0 0 15px #00ff9f;
}