<!DOCTYPE html>
<html>
<head>
    <title>Cyber Scanner</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<canvas id="matrix"></canvas>

<div class="terminal">

    <h1>⚡ CYBER PORT SCANNER</h1>

    <nav>
        <a href="/">Scan</a>
        <form method="POST" action="/logout/" style="display:inline;">
           {% csrf_token %}
           <button type="submit">Logout</button>
        </form>
        <a href="/history/">History</a>
    </nav>

    {% block content %}{% endblock %}

</div>

<script src="/static/js/main.js"></script>

</body>
</html>